{% extends "template2.html" %}
{% block content %}

<meta name="csrf-token" content="{{ csrf_token() }}">

<div id="main" style="display:flex;">
    <div id="person_card" class="container" style="text-align:center">
      <img id="person_image" src={{person.image}} alt="person", style="top: 50%;max-width:100%;max-height:100%;border-radius: 5px 5px 5px 5px;">
      <figcaption>
        <b>Ottawa road in the evening.</b>
        Photo by Marc-Olivier Jodoin on Unsplash
      </figcaption>
      <!-- Box with user info on image -->
        <div class="content"> 
          <h4><b id="person_name">{{person.name}}</b></h4>
          <h4><b id="person_surname">{{person.surname}}</b></h4>
          <!-- VK link Button -->
          <a id="person_vk_button" class="btn btn-block btn-social btn-vk" src="{{ url_for('static', filename='images/vk.png') }}" onclick="window.open('https://vk.com/id{{person.id}}', '_blank')" target='0'>
            <span class="fa fa-vk fa-2x"></span>
          </a>
        </div>
    </div>
    <div id="something" style="text-align:right;"></div>
</div> 


<script>const MODEL_URL = "{{ url_for('static', filename='model2/model.json') }}"</script>
<script>const SOMETHING_SRC = "{{ url_for('static', filename='something.mp4') }}"</script>
<script>const FIRST_PERSON_ID = "{{ person.id }}"</script>
<script src="{{ url_for('static', filename='js/model.js') }}"></script>

{% endblock %}
