<!DOCTYPE html>
<html>
<head>
<style>
<style>
  .img {
     width: 500px;
     height: 500px;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
  }
 </style>
</style>
</head>
<body>

<div id="container">
    <div class="image-container">
        <img src="https://lh3.googleusercontent.com/proxy/G_9dFf43gf79azarYqDm2K_8YOXLSMBwggfEOfYTZgJ03RFqFAt6FdbskSMMgvE2FRn_SwMVXMD4ijrHIAo7y7J45LlcBjO0yeZFYDfvaymV" alt="A image" />
    </div>
</div>​

</body>
</html>