<!DOCTYPE html>
<html>
<head>
<style>
#container {
    width: 400px;
    height: 400px;
    display: table;
    background-color: #ccc;         
}

#container .image-container {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#container .image-container img {
    max-width: 400px;
    max-height: 400px;        
}
</style>
</head>
<body>

<div id="container">
    <div class="image-container">
        <img src="https://lh3.googleusercontent.com/proxy/G_9dFf43gf79azarYqDm2K_8YOXLSMBwggfEOfYTZgJ03RFqFAt6FdbskSMMgvE2FRn_SwMVXMD4ijrHIAo7y7J45LlcBjO0yeZFYDfvaymV" alt="A image" />
    </div>
</div>​

</body>
</html>