{% extends "template2.html" %}
{% block content %}

<meta name="csrf-token" content="{{ csrf_token() }}">
  
<div class="container master" style="text-align:center;">
  <div class="person-card">
    <img id="person_image" src={{person.image}} alt="person" width=300>
    <div class="text">
      <h4><b id="person_name_large">{{person.name}}</b></h4>
      <p class="marker" id="person_name"><i class="fa fa-imdb" aria-hidden="true"></i>{{person.name}}</p>
      <p class="marker" id="person_surname"><i class="fa fa-calendar" aria-hidden="true"></i>{{person.surname}}</p>
      <p class="marker" id="person_sex"><i class="fa fa-film" aria-hidden="true"></i>{{person.sex}}</p>
      <hr>
      <p id="person_description">{{person.description}}</p>
    </div>
  </div>
</div>
<div class="container" style="text-align:center;">
  <div>
    <button id="person_vk_button" class="button watch" onclick="window.open('https://vk.com/id{{person.id}}', '_blank')" target='0'>
      Open the page in VK!
      <i class="fa fa-star"></i>
    </button>
  </div>
</div>

<script>const MODEL_URL = "{{ url_for('static', filename='model2/model.json') }}"</script>
<script src="{{ url_for('static', filename='js/model.js') }}"></script>

{% endblock %}
