<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Phynder</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/black_tinder.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <script src="https://use.fontawesome.com/3fa36ae73c.js"></script>
  </head>
  <body>
      
    {% extends "template.html" %}
    {% block content %}
      
    <div class="container master">
      <div>
        <a href="{{ url_for('home') }}">
          <button class="button downvote">
              <i class="fa fa-times fa-3x"></i>
          </button>
        </a>
      </div>

      <div class="person-card">
        <img src={{person.image}} alt="person">
        <div class="text">
          <h4><b>{{person.name}}</b></h4>
          <p class="marker"> <i class="fa fa-imdb" aria-hidden="true"></i> {{person.name}}</p>
            <p class="marker"><i class="fa fa-calendar" aria-hidden="true"></i> {{person.surname}}</p>
          <p class="marker"> <i class="fa fa-film" aria-hidden="true"></i> {{person.sex}}</p>
         
          <hr>
          <p>{{person.description}}</p>
        </div>
      </div>

      <div>
        <a href="{{ url_for('home') }}">
          <button class="button heart">
            <i class="fa fa-heart fa-2x"></i>
          </button>
        </a>
      </div>
    </div>

    <div class="container">
      <div>
        <button class="button watch" onclick="window.open('https://vk.com/id{{person.id}}', '_blank')"target='0'>
          Open the page in VK!
          <i class="fa fa-star"></i>
        </button>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
