
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/black_tinder.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">

    <script src="https://use.fontawesome.com/3fa36ae73c.js"></script>
    <script src="https://vk.com/js/api/openapi.js?168" type="text/javascript">
    </script>

  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class="container">
        <script type="text/javascript">
            VK.init({apiId: 7534914});
        </script>
        
        <!-- VK Widget -->
        <div id="vk_auth"></div>
        <script type="text/javascript">
          VK.Widgets.Auth("vk_auth", {"width":250,"authUrl":'/login'});
        </script>
    </div>

    {% endblock %}

  </body>
</html>
