body {
    font-family: 'Open Sans', sans-serif;
}

.logo {
  background-color: #0D122B;
  padding: 10px;
  color: white;
}

@font-face {
  font-family: Comfortaa;
  src: url(fonts/Comfortaa-Regular.ttf);
}
